body {
  margin: 0;
  background-color: #2A1E36;

}

.brando {
  color: #A66CFF;
}

.navbar {
  background-color: #2A1E36;
  width: 100%;
}

.margin {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.bebo {
  margin-top: 10%;
  margin-right: 2%;
  margin-bottom: 3%;
}

.meet {
  font-size: 400%;
  color: #A66CFF;
}

.dog {
  max-width: 50%;
  transform: rotate(25deg);
  margin-left: 20%;
  margin-top: 3%;
}

.container-fluid {
  color: #A66CFF;
}

#features {
  background-color: #A66CFF;
}

.second {
  padding: 10%;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

.secondtext {
  text-align: center;
}

h2 {
  color: #A66CFF;
}

#testimonials {
  text-align: center;
  background-color: black;
}

.carousel-item {
  padding: 7% 15%;
}

.image-testimonials {
  border-radius: 100%;
  width: 20%;
  margin-top: 4%;
}

#press {
  background-color: black;
  text-align: center;
}

.testimonials-imagess {
  width: 15%;
  margin: 2%;
}

#pricing {
  background-color: #A66CFF;
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;

}

.em {
  color: #A66CFF;
  margin-left: 2%;
}

.secondtext1 {
  text-align: center;
  color: #A66CFF;
}

.card {
  background-color: black;
  margin: 5%;
}

#cta {
  background-color: black;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;



}



.life {
  color: #A66CFF;
}
.footer {

  background-color: #A66CFF;
    color: black;
    padding: 1%;
    padding-top: 2%;
    text-align: center;

}
.rrr {

  padding: 2%;
}
.harshit {
  padding-top: 2%;
}

.son {
margin: 1%;
}
.lolo
 {

   margin: 0 1% 1% 1%;
 }

